node_modules
.env
.DS_STORE
.eslintcache
.env.local
build
*.log
dist
stats.html
storybook-static
.storybook/private-fonts
coverage
/e2e/dist/index.js
.vscode
.idea
*.sublime-project
*.sublime-workspace
.fusion
reports
vrt/latest
vrt/diff
.cache
site/.next
site/posts.js
site/public/static/fonts
/public
.*code
.terraform
.webpack
artifacts
tfplan
*.tfstate*
*.hcl
*.plan
*.out
*.todo
*.history
*.tgz
*.DS_Store
cypress/screenshots/
cypress/videos/
__diff_output__/
dist-storybook
version-number.json
junit.xml
/src/icons/filled/material
/src/icons/outlined/material
cypress/config/a11y-components.json
lib/codemod/.eslintcache
/site/public/static/illustrations-original
